{% extends 'main/layout.html' %}

{% block title %}{{ contact }} {% endblock %}

{% block content %}
    <div class="features">
        <h1> {{ contact }}</h1>
        <p> his is some dummy text. This is some dummy text. This is some dummy text.
            This is some dummy text. This is some dummy text. This is some dummy text.
            This is some dummy text. This is some dummy text. This is some dummy text.
            This is some dummy text.   </p>
        <button class="btn btn-warning"> Just button </button>
    </div>
{% endblock %}